:root {
    --min-height-banner: 530px;
}

.banner {
    min-height: var(--min-height-banner);
    width: 100%;
    padding: 0%;
    margin: 0;
    background-image: url("/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner .banner-content .text-link {
    color: rgb(218, 218, 218);
    font-size: 12px;
} 

.banner .banner-content .text-location {
    color: #37c73e;
    font-weight: 500;
    font-size: 12px;
} 


.banner .banner-content .button {
    border: 0;
    border-width: 0;
    border-radius: 16px;
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 20px;
    color: rgba(47, 39, 54, 0.96);
    background-color: #37c73e;
}
  
.banner .banner-content .button:hover {
    text-decoration: none;
    background-color: #3fa845;
}

.banner-shadow {
    position: absolute;
    width: 100%;
    min-height: var(--min-height-banner);
    background-color: rgba(40, 33, 46, 0.96);
}

.banner-content {
    position: absolute;
    width: 100%;
    min-height: var(--min-height-banner);
    color: white;
}